/*External CSS */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

/*h1 is the selector*/
h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 18px;

  line-height: 1.5; /*changes the distance between the lines under each other*/
}

/* footer p {
  font-size: 16px;
} */

/*This is an id selector*/
#author {
  font-style: italic;
  font-size: 18px;
}

#copywrite {
  font-size: 16px;
}
/* The difference between the class and id is that the ID name can only be used once.
   classes can be used all the time and reused. We do not use ID's classes are better 
   for future use*/
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/*Pseudo-classes*/
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  /* color: red; */
}

/* Miscoception: this won't work because it is not the first child of article h2 is*/
article p:first-child {
  color: red;
}

/* Syling links */
/* LVHA for the a: order */
a:link {
  /* element selector with a pseudo selector*/
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflict */
/* 
#copywrite {
  color: red;
}

.copywrite {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */
